/* General */

:root {
    --main: #9C27B0;
    --MainDark: #89119D;
    --secondary: #FFCE00;
    --secondaryDark: rgb(233, 187, 2);
    --white: #FFF;
    --black: #000;
    --fontMain: 'Staatliches', cursive;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    background-color: var(--main);
    font-family: var(--fontMain);
    font-weight: bold;
    color: var(--white);
    font-size: 1.6rem;
    line-height: 1.5;
}

a {
    text-decoration: none;
    color: var(--white);
}

img {
    width: 20rem;
}

/*Functionality */

.active-page {
    color: var(--secondary)!important;
}

.container {
    max-width: 100rem;
    margin: 0 auto;
}

/* Specific */

/* Upper part */
header {
    display: flex;
    justify-content: center;
}

header img {
    margin: 3rem 0;
    width: 100%;
}

.nav {
    width: 100%;
    background-color: var(--MainDark);
    display: flex;
    justify-content: center;
}

.nav__container {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
}

.nav__container a {
    font-size: 3rem;
    color: var(--blanco);
    font-weight: normal;
}

/* products (Grid) */

.products {
    max-width: 98%;
    margin: 0 auto;
}

.products h2 {
    font-size: 4.5rem;
    color: var(--secondary);
    text-align: center;
    margin: 1.5rem 0;
}

.products__container {
    display: grid;
    grid-template-columns: 50% 50%;
    column-gap: 0rem;
}

@media (min-width: 768px) {
    .products__container {
        grid-template-columns: repeat(3, 1fr);
        column-gap: 0rem;
    }
}

/*Single product */

.product {
    background-color: var(--MainDark);
    max-width: 100%;
    text-align: center;
    padding: 0.5rem 0;
    margin: 0.5rem 0.3rem;
}

.product img {
    width: 95%;
}

.product h3 {
    font-size: 2.5rem;
    margin: 0.4rem 0;
}

.product p {
    color: var(--secondary);
    font-size: 1.6rem;
    margin: 0.4rem 0;
}

@media (min-width: 768px) {
    .product h3 {
        font-size: 3.5rem;
    }
    .product p {
        font-size: 2.6rem;
    }
}

/* Sample products */

.sample-product {
    background-color: var(--MainDark);
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding: 0.5rem 0; */
    grid-column: 1/3;
    grid-row: 2/3;
    margin: 0.5rem 0.3rem
}

.sample-product img {
    width: 95%;
}

.grafico-2 {
    grid-column: 1/3;
    grid-row: 6/7;
}

@media (min-width: 768px) {
    .grafico-2 {
        grid-column: 2/4;
    grid-row: 4/5;
    }
}


/* footer */
footer {
    background-color: var(--MainDark);
    margin: 0;
    margin-top: 2rem;
    text-align: center;
    padding: 2rem 0;
}

footer p {
    margin: 0;
}